body {
  font-family: 'Sniglet', cursive;
  background: url('img/photo.jpg');
}

.container {
  background: #00F;
  padding: 20px;
}

#logo {
  text-align: center;
}

#logo img {
  margin-top: 30px;
  border: 4px solid #DDD;
  padding:20px;
  background-color:#E33;
}

p {
  color: #FAF3EE;
  font-size: 1em;
}

h1 {
    color: #EE4444;
    border-top: 0px;
}

h2 {
  font-size: 1.400em;
  color: #BBBBBB;
}

.price {
  float:right;
  font-size: .7em
}

#drinks {
  margin-top: 35px;
  border:4px solid #BBB;
  border-radius: 5px;
  padding: 0px 20px;
}

#drinks_price {

  font-size: .7em
}


#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0px; 
  margin: 15px 0px;
  text-align: center;
}
